<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GEARS</title>
    <link href="/Content/reset.css" rel="stylesheet">
    <link href="/Content/Site.css" rel="stylesheet">
    <script src="/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function goGet(url, data, func) {
                $.ajax({
                    type: 'POST',
                    url: "/Home/" + url,
                    data: data,
                    success: func,
                    error: function () {
                        alert("There was an error submitting comment");
                    }
                });
            }
            function buttonClick(e) {
                var form = $(this).parent();
                var name = $(this).attr("name");
                e.preventDefault();
                switch (name) {
                    case "query":
                        goGet("Query", form.serialize(), function (response) {
                            $(".edit-partial").html(response);
                            $(".edit-partial button").click(buttonClick);
                        });
                        goGet("Emails", form.serialize(), function (response) {
                            $(".emails-partial").html(response);
                            $(".emails-partial button").click(buttonClick);
                        });
                    break;
                    case "due-dates":
                        goGet("SaveDates", form.serialize(), function (response) {
                            $(".save-status").html(response);
                            if (response == "success") {
                                $(".save-status").css("color", "green");
                            } else {
                                $(".save-status").css("color", "red");
                            }
                        });
                    break;
                    case "preview":
                        goGet("Preview", form.serialize(), function (response) {
                            $(".email-preview").html(response);
                        });
                    break;
                }
                
            }
            $(".page button").click(buttonClick);
        });
    </script> 
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("GEARS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
    </div>
    <footer>
        <div class="footer-container container">
            <hr />
            <p>&copy; @DateTime.Now.Year - GEARS</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
